*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: #191825;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.container {
    width: 60rem;
    height: 2rem;
    background-color: #865dff;
    margin-top: 20rem;
    border-radius: 2rem solid #865fff;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 9.5rem;

}

div {
    width: 0.5rem;
    height: 20rem;
    background-color: #865fff;
    position: relative;
}

.container div::after{
    content: "";
    position: absolute;
    width: 10rem;
    height: 10rem;
    bottom: 0;
    background-color: #865dff;
    border-radius: 50%;
    left: -5rem;
    top: 90%;
}

.container div:first-child {
    animation: left-swing 2s linear 1s infinite;
    transform-origin: top left;
}

@keyframes left-swing{
    0%{
         rotate: 0deg;
    }
    25%{
        rotate: 30deg;
    }
     50%{
         rotate: 0deg;
    }
    100%{
        rotate: 0deg;
    }
}

.container div:last-child {
    animation: right-swing 2s linear infinite;
    transform-origin: top right;
}

@keyframes right-swing{
    0%{
         rotate: 0deg;
    }
    25%{
        rotate: -30deg;
    }
     50%{
         rotate: 0deg;
    }
    100%{
        rotate: 0deg;
    }
}